 body {
   font: 15px/1.5 Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
   background-color: #f4f4f4;
 }

 h1 {
   text-align: center;
 }

 h3 {
   text-align: center;
   padding-top: 10px;
   font-size: 2rem;
 }

 h2 {
   text-align: center;
   font-size: 1.5rem;
   line-height: 2;
   margin: 3% 1% 2%;
 }

 ul {
   list-style: none;
   padding: 20px;
 }

 /* Navigation Bar */
 .navbar {
   padding: 2em 2em;
 }

 .navbar-brand {
   font-size: 1rem;
   margin-right: 8%;
 }

 .nav-item {
   padding: 0 10px;
 }

 .nav-link {
   font-size: .80rem;
   font-family: "Montserrat-Light";
 }

 .jumbotron-sm {
   padding-top: 30px;
   padding-bottom: 34px;
 }

 .jumbotron small {
   color: #FFF;
 }

 .h1 {
   font-size: 50px;
   font-style: bold;
   margin-right: 80%;
   font-weight: bold;
 }

 .h3 {
   font-size: 1rem;
   font-weight: bold;
   text-align: left;
 }

 /*Corp  Office*/
 .corp-office {
   float: right;
   margin: 4% 10%;
   font-size: 1rem;
 }

 /* Button */
 .btn {
   margin-top: 3%;
 }

 /* Title */
 #title {
   min-height: 380px;
   background: url('../images/back-ground.png') no-repeat 0 -400px;
   margin-top: 1%;
 }

 /* Features */
 #features {
   line-height: 2.5;
   margin: 5%;
   padding: 0 3% 5% auto;
 }

 .features-column {
   text-align: center;
   background-color: #000e27;
   background: linear-gradient(to bottom right, #000e27, #45c0d6);
   padding: 30px;
   color: white;
 }

 .features-col {
   box-shadow: 0px 0px 20px 0px;
   background: #ffffff;
   padding: 40px;
   margin-top: 3%;
   text-align: center;
   height: 600px;
 }

 /* Contact Form */
 #contact-form {
   padding: 1rem;
   margin-top: 10%;
   margin: 3% 7%;
 }

 /* Background Banner */
 .jumbotron {
   background: #9cb7c5;
   color: #ffff;
   border-radius: 0px;
   margin: 10px 10px;
 }

 /* Services */
 ul#services li {
   margin-bottom: 20px;
   padding: 10px 25px 10px;
   line-height: 1.5;
   border: #cccccc solid 1px;
   background: #e6e6e6;
   width: 70%;
 }

 aside#sidebar {
   float: right;
   margin-top: 20px;
   margin-bottom: 10px;
   margin-right: 3%;
   background: #e6e6e6;
   padding: 20px 25px 0 26px;
   width: 30%;
   font-size: .79rem:
 }

 /* Footer */
 .copyright {
   font-size: 0.75rem;
   text-align: center;
   padding-top: 10rem;
 }
